body{
    background-color: #dfdfdf   

}

p{
    color:  rgb(34, 34, 34)
}

.foto-principal {
    width: 200px;
    border: 3px solid rgb(255, 255, 255); /*shorthand*/ 
    border-radius: 200px
    m
   /*border-width: 5px;
    border-style: solid;
    border-color: black;
    */

}
