body{
    background-color: #dfdfdf   

}

p{
    color:  rgb(34, 34, 34)
}

.foto-principal {
    
   /* margin-top: 30px ;
    margin-bottom: 100px;
    margin-left: 800px;*/
    margin: 30px 30px 30px 30px;

    width: 200px;   
    border: 2px solid rgb(255, 255, 255); /*shorthand*/ 
    border-radius: 50%
    
}