body
{  font-family: 'Raleway', sans-serif;
    color: rgb(34, 34, 34);
    background-color: #dfdfdf 
}
    .conteiner
    {
        width: 1000px;
        margin: 0 auto;
    }
  

.foto-principal
{
    box-shadow: 0px 0px 10px rgb(116 116 116);        
    margin: 30px;
    width: 200px;   
    border: 2px solid rgb(255, 255, 255); /*shorthand*/ 
    border-radius: 50% 
}   


    h1
    {
        font-size: 40px;
        font-family: 'PT Sans Narrow', sans-serif;
        margin-bottom: 0px;
        letter-spacing: -1px;
    }
    h2
    {
        margin-top: 0px;
        font-style: italic;
        color: rgb(73,73,73);
        font-weight: 100;
        letter-spacing: -1px;
    }

    
